.normal .a {
    text-align: center;
    border: 1px solid #000;
    display: flex;
    width: 90px;
    height: 90px;
    align-items: center;
    top: 40px;
    position: absolute;
    background-color: powderblue;


}

.normal .b {
    border: 1px solid #000;
    display: flex;
    width: 90px;
    height: 90px;
    align-items: center;
    top: 40px;
    left: 99px;
    position: absolute;
    background-color: powderblue;

}

.normal .c {
    border: 1px solid #000;
    display: flex;
    width: 90px;
    height: 90px;
    align-items: center;
    top: 40px;
    left: 190px;
    position: absolute;
    background-color: powderblue;

}

.normal .d {
    border-width: 50px;
    border: 1px solid #000;
    display: flex;
    width: 90px;
    height: 90px;
    align-items: center;
    top: 40px;
    left: 280px;
    position: absolute;
    background-color: powderblue;


}

.normal .e {
    border-width: 50px;
    border: 1px solid #000;
    display: flex;
    width: 90px;
    height: 90px;
    align-items: center;
    top: 40px;
    left: 370px;
    position: absolute;
    background-color: powderblue;
}

.normal .a1 {

    border: 1px solid #000;
    display: flex;
    width: 90px;
    height: 90px;
    align-items: center;
    top: 300px;
    position: absolute;
    background-color: rgb(224, 231, 161);


}

.normal .b1 {
    border: 1px solid #000;
    display: flex;
    width: 90px;
    height: 90px;
    align-items: center;
    top: 300px;
    left: 99px;
    position: absolute;
    background-color: rgb(224, 231, 161);

}

.normal .c1 {
    border: 1px solid #000;
    display: flex;
    width: 90px;
    height: 90px;
    align-items: center;
    top: 300px;
    left: 190px;
    position: absolute;
    background-color: rgb(224, 231, 161);

}

.normal .d1 {
    border-width: 50px;
    border: 1px solid #000;
    display: flex;
    width: 90px;
    height: 90px;
    align-items: center;
    top: 300px;
    left: 280px;
    position: absolute;
    background-color: rgb(224, 231, 161);

}

.normal .e1 {
    border: 1px solid #000;
    display: flex;
    width: 90px;
    height: 90px;
    align-items: center;
    top: 300px;
    left: 370px;
    position: absolute;
    background-color: rgb(224, 231, 161);

}

.normal .a1:hover {

    color: red;
    background-color: seashell;


}

.normal .b1:hover {
    color: red;
    background-color: seashell;
}

.normal .c1:hover {
    color: red;
    background-color: seashell;
}

.normal .d1:hover {
    color: red;
    background-color: seashell;
}

.normal .e1:hover {
    color: red;
    background-color: seashell;
}

.norm {
    top: 200px;
    left: 270px;
    position: absolute;
}

.nor {
    top: 0px;
    left: 300px;
    position: absolute;
}